/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
/* body geral */
body{
    height: 100vh;
    background-color: #21153b; /* cor de fundo */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* class relogio */
.relogio{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px double #b12fe4; /* cor da borda do relogio */
    transition: 0.5s;
}
/* 
    luz dentro do relogio ao passar o mouse
    e a sombra da luz
*/
.relogio:hover{
    background-color: #7622bb;
    box-shadow: 0 0 100px #4b18aa;
}
/* posicionamento, medidas */
.relogio div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff; /* cor das letras e numeros dentro do relogio */
    margin: 0 6px;
}
/* numeros horas minutos segundos*/
.relogio span{
    font-size: 45px;
    font-weight: bolder;
}
/* palavras horas minutos segundos */
.relogio p{
    font-size: 20px;
    font-weight: bolder;
}